<div class="" data-ng-controller="PersonFormCtrl as formCtrl" data-ng-init="formCtrl.load()">
    <div class="page-title">
        <div class="title_left">
            <h3 data-ng-hide="formCtrl.person.id">New Person</h3>
            <h3 data-ng-show="formCtrl.person.id">Edit Person</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">
                    <ul class="parsley-errors-list" data-ng-show="formCtrl.errorData">
                        <li data-ng-repeat="error in formCtrl.errorData.errors">{{error.message}}</li>
                    </ul>

                    <form novalidate name="editForm"
                          class="form-horizontal form-label-left">
                        <div class="form-group" data-ng-class="{bad:formCtrl.allErrorFields.indexOf('name')>-1}">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span
                                    class="required">*</span>
                            </label>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="name" name="name" ng-model="formCtrl.person.name"
                                       class="form-control col-md-7 col-xs-12" required/>
                                <div ng-messages="editForm.name.$error" ng-if="formCtrl.buttonClicked" role="alert">
                                    <div class="error-danger" ng-message="required">This field is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address">Address <span
                                    class="required">*</span>
                            </label>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select required="required" name="address" id="address" relation-selector
                                        class="form-control col-md-7 col-xs-12 ng-valid ng-dirty"
                                        ng-model="formCtrl.person.address.city"
                                        remote-url="/address/list"
                                        many-to-many="false">
                                    <option ng-selected="true">{{formCtrl.person.address}}</option>
                                </select>
                                <div ng-messages="editForm.address.$error" ng-if="formCtrl.buttonClicked" role="alert">
                                    <div class="error-danger" ng-message="required">This field is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="position">Position <span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="position" required="required" name="position"
                                       ng-model="formCtrl.person.position"
                                       class="form-control col-md-7 col-xs-12">
                                <div ng-messages="editForm.position.$error" ng-if="formCtrl.buttonClicked" role="alert">
                                    <div class="error-danger" ng-message="required">This field is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="office">office <span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="office" id="office" required="required"
                                       ng-model="formCtrl.person.office"
                                       class="form-control col-md-7 col-xs-12">
                                <div ng-messages="editForm.office.$error" ng-if="formCtrl.buttonClicked" role="alert">
                                    <div class="error-danger" ng-message="required">This field is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="hobby">Hobby <span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select id="hobby" name="hobby"
                                        required="" class="form-control col-md-7 col-xs-12"
                                        ng-model="formCtrl.person.hobby">
                                    <option value="CRICKET">Cricket</option>
                                    <option value="FOOTBALL">Football</option>
                                    <option value="HOCKEY">Hockey</option>
                                </select>
                                <div ng-messages="editForm.hobby.$error" ng-if="formCtrl.buttonClicked" role="alert">
                                    <div class="error-danger" ng-message="required">This field is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="salary" class="control-label col-md-3 col-sm-3 col-xs-12">Salary Initial</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="salary" required class="form-control col-md-7 col-xs-12" type="number"
                                       name="salary" ng-model="formCtrl.person.salary" min="1000" max="10000"/>
                                <div ng-messages="editForm.salary.$error" ng-if="formCtrl.buttonClicked" role="alert">
                                    <div class="error-danger" ng-message="required">This field is required</div>
                                    <div class="error-danger" ng-message="min">Salary can't be less than 1000</div>
                                    <div class="error-danger" ng-message="max">Salary can't be Greater than 10000</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="age">Age <span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="number" id="age" name="age" ng-max="65" required ng-min="18"
                                       class="form-control col-md-7 col-xs-12" ng-model="formCtrl.person.age">
                                <div ng-messages="editForm.age.$error" ng-if="formCtrl.buttonClicked" role="alert">
                                    <div class="error-danger" ng-message="required">This field is required</div>
                                    <div class="error-danger" ng-message="min">Age can't be less than 18</div>
                                    <div class="error-danger" ng-message="max">Age can't be greatar than 65</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12 control-label">Languages
                            </label>

                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="languages"
                                               ng-model="formCtrl.person.languages.english"
                                               value="English">English
                                    </label>
                                    <label>
                                        <input type="checkbox" name="languages"
                                               ng-model="formCtrl.person.languages.hindi"
                                               value="Hindi"> &nbsp;Hindi
                                    </label>
                                    <label>
                                        <input type="checkbox" name="languages"
                                               ng-model="formCtrl.person.languages.frensh"
                                               value="French"> &nbsp;French
                                    </label>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12 control-label">Gender
                            </label>

                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div class="radio">
                                    <label>
                                        <input type="radio" id="optionsRadios1"
                                               name="gender" value="Male" ng-model="formCtrl.person.gender"> Male
                                    </label>
                                    <label>
                                        <input ng-model="formCtrl.person.gender" value="Female"
                                               type="radio" id="optionsRadios2" name="gender">
                                        Female
                                    </label>

                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                            </label>

                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="formCtrl.person.married" ng-true-value="true"
                                               required name="married" ng-false-value="false">
                                        Married
                                        <div ng-messages="editForm.married.$error" ng-if="formCtrl.buttonClicked"
                                             role="alert">
                                            <div class="error-danger" ng-message="required">This field is required</div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Of Joining <span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p class="input-group">
                                    <input type="text" name="joiningDate"
                                           class="form-control"
                                           uib-datepicker-popup="yyyy-MM-dd"
                                           ng-model="formCtrl.person.joiningDate"
                                           is-open="formCtrl.dateSettings.joiningDate.open"
                                           data-ng-click="formCtrl.dateSettings.joiningDate.open=!formCtrl.dateSettings.joiningDate.open"
                                           required
                                           close-text="Close"/>

                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            data-ng-click="formCtrl.dateSettings.joiningDate.open=!formCtrl.dateSettings.joiningDate.open">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                                <div ng-messages="editForm.joiningDate.$error" ng-if="formCtrl.buttonClicked"
                                     role="alert">
                                    <div class="error-danger" ng-message="required">This field is required</div>
                                </div>

                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <br>
                                <button
                                        data-ng-show="formCtrl.person.id"
                                        class="btn btn-danger"
                                        mwl-confirm
                                        title=" Are you sure?"
                                        message="Are you really <b>sure</b> you want to do this?"
                                        confirm-text="Yes <i class='glyphicon glyphicon-ok'></i>"
                                        cancel-text="No <i class='glyphicon glyphicon-remove'></i>"
                                        on-confirm="formCtrl.delete()"
                                        on-cancel="cancelClicked =true"
                                        confirm-button-type="danger"
                                        cancel-button-type="default">
                                    Delete
                                </button>
                                <a ui-sref="home.person.list"
                                   class="btn btn-primary"
                                   data-ng-show="editForm.$dirty">Cancel</a>
                                <button type="submit"
                                        data-ng-click="formCtrl.savePerson(editForm)"
                                        class="btn btn-success">
                                    <span data-ng-hide="formCtrl.person.id">Save</span>
                                    <span data-ng-show="formCtrl.person.id">Update</span>
                                </button>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>